.form {
  width: 500px;
  margin: 0 auto;
  border: 1px solid rgb(187, 150, 175);
  border-radius: 5px;
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color:bisque
}

.btn {
  background: none;
  border: solid 2px #8f0972;
  border-radius: 5px;
  color: #870946;
  cursor: pointer;
  display: inline-block;
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 0.875em;
  font-weight: bold;
  outline: none;
  padding: 5px 10px;
  text-transform: uppercase;
  transition: all 0.3s;
  margin-top: 10px;
}

.btn:hover {
  background: #870946;
  color: #f2f3eb;
}

.input {
    border-radius: 5px;
  margin: 5px 0;
  padding: 5px 10px;
  font-size: 14px;
  
}