.btn {
  background: none;
  background-color: white;
  border: solid 2px #1976d2;
  color: #1976d2;
  cursor: pointer;
  display: inline-block;
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  outline: none;
  padding: 3px 6px;
  text-transform: uppercase;
  transition: all 0.3s;
  border-radius: 5px;

  
}

.btn:hover {
  background: #1976d2;
  color: white;
}

.name {
  font-size: 22px;
  display: flex;
  justify-content: space-between;
  width: 480px;
  margin: 0 auto;
  margin-bottom: 10px;
  background-color: whitesmoke;
}

.list {
  margin: 20px 0px 0px 0px;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
 
}
